<mat-list role="list">
    <mat-list-item role="listitem">
        <button mat-raised-button color="accent" class="wideButton">Search</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-raised-button color="primary" class="wideButton">Player 1</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-raised-button color="primary" class="wideButton">Player 2</button>
    </mat-list-item>
</mat-list>
<!-- <router-outlet></router-outlet> -->
